<div class="flex items-center justify-between h-16 px-4 py-2 bg-white shadow-sm md:px-8">
  <div class="flex items-center w-2/3">
    <input class="block w-full px-4 py-2 mr-10 leading-normal placeholder-gray-700 bg-gray-200 border border-transparent rounded-lg appearance-none hidde-header focus:outline-none focus:shadow-outline focus:bg-white focus:border-gray-300 md:block" type="text" placeholder="Search...">

    <div class="p-2 rounded-full cursor-pointer hover:bg-gray-200 md:hidden" >
      <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-600" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
        <line x1="4" y1="6" x2="20" y2="6"></line>
        <line x1="4" y1="12" x2="20" y2="12"></line>
        <line x1="4" y1="18" x2="20" y2="18"></line>
      </svg>
    </div>
    <div class="ml-2 text-xl font-bold tracking-tight text-gray-800 md:hidden">Dashing Admin.</div>
  </div>
  <div class="flex items-center">

    <a href="#" class="p-2 mr-4 text-gray-500 rounded-full cursor-pointer hover:text-blue-600 hover:bg-gray-200">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
        <path d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"></path>
        <path d="M9 17v1a3 3 0 0 0 6 0v-1"></path>
      </svg>
    </a>

    <div class="relative" x-data="{ open: false }">
      <div  class="flex items-center justify-center w-10 h-10 font-bold text-blue-600 bg-blue-200 rounded-full cursor-pointer">
        DA
      </div>

      <div x-show.transition="open" class="absolute top-0 right-0 z-40 w-48 py-2 mt-12 bg-white border border-gray-100 rounded-lg shadow-md" style="display: none;">
        <a href="#" class="block px-4 py-2 text-gray-600 hover:bg-gray-100 hover:text-blue-600">Edit
          Profile</a>
        <a href="#" class="block px-4 py-2 text-gray-600 hover:bg-gray-100 hover:text-blue-600">Account
          Settings</a>
        <a href="#" class="block px-4 py-2 text-gray-600 hover:bg-gray-100 hover:text-blue-600">Sign
          Out</a>
      </div>
    </div>
  </div>
</div>
